body {
    position:relative;
    margin:0;
    padding:10px;
    min-width:400px;
    
    background-image: url('bgg.jpg');
    
      
}
div{
    z-index: 1;
}
div button {
    border-radius: 20px;
    position:relative;
    width:150px;
    height:50px;
    font-size:25px;
    background-color: rgb(245, 245, 13);
    display:block;
    font-family:fantasy;
    display:inline;
    color:black
}

input{
    z-index: 1;
    display:block;
    width:500px;
    height:25px;
    color:black;
    border-radius: 30px;
}

ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
a{
    color:white;

}
li{
    margin-bottom:5px;
}
